{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<p>Bacon ipsum dolor amet spare ribs venison swine kevin rump prosciutto shoulder corned beef porchetta shank pork loin. Pastrami buffalo picanha, shoulder venison pig turkey biltong sausage.</p>

<p>Pork belly rump chicken sausage boudin, meatball ball tip. Flank tongue spare ribs, boudin sausage meatloaf ground round ball tip andouille sirloin brisket ham hock bacon tri-tip.</p>

<p>Turducken andouille meatball pastrami, rump ham hock short ribs filet mignon bresaola venison chicken shank. Beef ribs pork cow, brisket flank short ribs tongue drumstick meatball shank ball tip ribeye sirloin.</p>

<h2>Comments <small>({{ comments|length }})</small></h2>

<ul>
	{% for comment in comments %}
		<li>{{ comment }}</li>
	{% endfor %}
</ul>
{% endblock %}